<header class="site-header">

  <div class="wrapper">

    <h1 class="site-title"><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
    <h3 class="site-meta">{{ site.tagline }}</h3>

    <nav class="site-nav">

      
      
      
      
     <a href="/dreamboard" target="_self"><strong><span style="color: rgb(0, 0, 0);">드림보드</span></strong></a>
    
     <a href="/timerich" target="_self"><strong><span style="color: rgb(0, 0, 0);">｜ '시간 부자'가 진짜 부자다</span></strong></a>
     	  
     <a href="/constant" target="_self"><strong><span style="color: rgb(0, 0, 0);">｜ 하루 1시간 꾸준함은 세상을 바꾼다</span></strong></a>
        
        
        
        
        {% for page in site.pages %}
        {% if page.title %}
        
           
        
        

        
        
       
          
        {% endif %}      
        {% endfor %}
    
    </nav>

  </div>

</header>
